[submodule "themes/beautifulhugo"]
	path = themes/beautifulhugo
	url = https://github.com/halogenica/beautifulhugo
[submodule "themes/congo"]
	path = themes/congo
	url = https://github.com/jpanther/congo.git
